<footer class="footer">
  <small>
    The <a href="https://railstutorial.jp/">ムキムキマッチョ株式会社</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "筋トレアプリとは",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      
    </ul>
  </nav>
</footer>